.main-container{
    position: relative;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}


.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
}

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    background-color: rgb(34, 35, 36);

}

/* .output-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 650px;
    border-radius: 5%;

} */
.temp-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(253, 253, 253); */
    color: rgb(253, 253, 253);
    margin-bottom: 10px;
}
.temp-section p{
    margin-top: 0%;
    margin-bottom: 0%;
}

.temp-section h1{
    margin-bottom: 0;
}
.temp-section h2{
    margin-bottom: 0;
}

.blur-block{
    display: flex;
    position: absolute;
    width: 550px;
    height: 650px;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    opacity: 0.2;
    filter: blur(2px);

}

.loading{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
    background-color: rgb(172, 165, 157);
}
.loading h1{
    color: rgb(90, 7, 7);
}